.Google {
    padding: 5px;
    color: white;
    font-size: 14px;
    position: absolute;
    left: 70%;
    top: 85%;
    bottom: 5%;
    right: 10%
}
.gg{
    padding: 3px;
    position: absolute;
    top: 89%;
    right: 30%;
    height: 45px;
    width: 45px;
}